*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #f3e0e2;
}

.from-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
main {
    background-color: #F4E2E0;
     display: flex;
     width: 88vw;
     margin: 0 auto;
     border-radius: 20px;
}
main > * {
    flex-basis: 100%;
}
/* div.mains {
    border-radius: 5px;
    position: absolute;
   
    weight: 100vh;
} */

div.form {
    background-color: #FFF;
    text-align: center;
}
div.form h1 {
    margin-top:30px ;
    margin-bottom:30px;
    font-size: 3rem;
}

/* dib.social  */
img {
    border: 2px solid #EEEEEE;
    padding: 15px;
    font-size: 30px;
    height: 60px;
    width: 60px;
    border-radius:50% ;
    margin-bottom: 30px;
}
img.fb{
    margin-right:5px ;
}
img.fb{
    margin-left:5px ;
}
input {
    width: 80%;
    background-color: #EDEDEC;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 15px;
    font-size: 1.1rem;
    border: none;
}

form a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000a6;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 15px;
}

input[type='submit']{
    background-color: #ff4b2b;
    width: 17%;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;

}

div.text {
    background-image: linear-gradient(to right, #FF555A, #FF416A );
}

.text {
   /* display: flex; */
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 1.5rem; 
}

.text h2 {
    color: #fff;
    font-size: 4.5rem;
    margin-top: 70px;

}

.text p {
    color: #fff;
    font-size: 1.6rem;
}
/* .text {

    padding: 10rem;
} */


